# Build directories
/build*/
/out/
Debug/
Release/

# qmake / Qt Creator
*.pro.user*
*.qmlproject.user*
.qmake.stash
QT_HOST_BINS
Makefile*
moc_*.cpp
ui_*.h
qrc_*.cpp
*.o
*.obj

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeUserPresets.json

# IDEs and OS files
.vs/
.vscode/
.idea/
*.suo
*.user
.DS_Store
Thumbs.db
